*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    background: #fff;
}

.carrosel{
    width: 100%;
    height: 400px;
    overflow: hidden;
    position: relative;
}

.banner{
    display: flex;
    width: 200%;
    animation: slide 8s infinite ease-in-out;
}
.banner img{
    width: 50%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}
.banner1{
    width: 400px;
    height: 400px;
}
.banner2{
    width: 400px;
    height: 400px;
}

@keyframes slide{
    0%, 45%{
        transform: translateX(0);
    }

    50%, 95%{
        transform: translateX(-50%);
    }

    100%{
        transform: translateX(0);
    }
}

.esquerda {
   position: absolute;
    top: 45%;
    transform: translateY(-45%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.65);
    font-size: 30px;
    cursor: pointer;
    left: 10px;
}

.direita {
    position: absolute;
    top: 45%;
    transform: translateY(-45%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.65);
    font-size: 30px;
    cursor: pointer;
    right: 10px;
}

.produtos{
    background: #d9d9d9;
    padding: 30px;
}

.produtos h2{
    font-size: 40px;
    margin-bottom: 30px;
}

.cards{
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    background: white;
    width: 280px;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    cursor: pointer;
}
.card:hover{
    transition: 0.3s;
    transform: translateY(-10px);
    box-shadow: 0 0 10px #3b3b34;
}

.card img{
    width: 100%;
    height: 220px;
    object-fit: contain;
}

.card h3{
    height: 50px;
    font-size: 18px;
    margin: 15px 0;
}

.estrelas{
    color: gold;
    font-size: 25px;
    margin-bottom: 15px;
}

.preco-antigo{
    text-decoration: line-through;
    color: gray;
}

.preco{
    font-size: 32px;
    font-weight: bold;
}

.preco span{
    font-size: 18px;
}

.card button{
    width: 100%;
    margin-top: 20px;
    padding: 12px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(to left, #BEE6FF,#709AB3, #181818);;
    font-size: 18px;
    cursor: pointer;
}
.card button:hover{
    background-color: #b8e7ff;   
    color: #ffffff;
    transition: 0.3s;
}

