.barrapreta{
    width: 180cap;
    height: 10px;
    padding: 8px;
    background-color: black;
    margin: auto;
    right: auto;
}
.barraazul{
    width: 180cap;
    height: 20px;
    background-color:#C6E4F6;
    padding:40px;
    margin: auto;
    right: auto;
}

.menu{
    margin-left: 300px;
}

.menu a{
    color:rgb(0, 0, 0) ;
    text-decoration: none;
    font-size: 20px;
    padding-left: 100px;
    margin-left: 10px;
}

.fretegratis {
    font-size: 20px;
    color: rgb(255, 255, 255);
    margin-left: 900px;
    text-decoration: none;
    top: 0;
    position: relative;
    font-family:Georgia, 'Times New Roman', Times, serif

}
.carrinho{
    position: absolute;
    left: 1700px;
    right: 20%;
    top: 40px;
    width: 90px;
}
.hamburguer{
    position: absolute;
    left: 300px;
    right: 10%;
    margin-top:-30px;
    height: 40px;
}
.logo{
    height: 150px;
    margin-top: -70px;
    left: 15;
    position: absolute;
    
}
.pesquisar{
    outline: none;
    width: 100%;
    display: block;
    margin-left: 1300px;
    margin-top: -20px;
    
}
.perfil{
    position: absolute;
    left: 1780px;
    right: 20%;
    top: 50px;
    width: 70px;
}
.lupa{
    position: absolute;
    left: 1220px;
    right: 5%;
    top: 65px;
    width: 30px;
}