* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carrosel {
    max-width: 400px;
    overflow: hidden;
    
}

.slides {
    display: flex;
}

.slides img {
    display: block;
    max-width: 100%;

}