@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(to left, #F2F3E9 20%, #989897 30%, #999992 40%);
    height: 100vh;
}

.acessorios_png{
    margin: 29px;
    width: 30rem;
}

.card_coqueteleira{
    display: flex;
    align-items: center;
    background-color: #FFFF;
    width: 320px;
    height: 360px;
    border-radius: 20px;
    margin: 50px;
}

.coqueteleira{
    height: 260px;
    margin: 20px;
    margin-top: -30px;
}

.descricao_preco_coqueteleira{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: "Inter", sans-serif;
    text-align: center;
}

.descricao_coqueteleira{
    font-weight: normal;
    font-size: 20px;
    margin-top: 2px;
}

.preco_coqueteleira{
    font-weight: normal;
    font-size: 20px;
    margin-top: 2px;
}

.carrinho_img{
    width: 40px;
    height: 45px;
    margin-top: 20px;
}

.carrinho{
    background-color: #6E6E6E;
    width: 185px;
    height: 50px;
    border-radius: 10px;
    font-size: 27px;
    font-weight: normal;
    font-family: 'Inter', sans-serif;
    position: relative;
    top: 110px;
    right: 265px;
    text-align: center;
    line-height: 37px;
}

.carrinho_img{
    width: 40px;
    height: 45px;
    position: relative;
    top: 163px;
    right: 126px;
    z-index: 1;
    margin-left: 5px;
}

