@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(to right, #F2F3E9 20%, #989897 30%, #999992 40%);
    height: 100vh;
}

.acessorios{
    margin: 30px;
    height: 100px;
}

.card_coqueteleira{
    width: 310px;
    height: 400px;
    background-color: #fff;
    border-radius: 20px;
    margin: 40px;
    display: flex;
}

.coqueteleira{
    width: 170px;
    height: 290px;
    margin: 3px;
}
.descricao_coqueteleira{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    font-family: 'Inter', sans-serif;
    text-align: center;
    margin-top: 155px;
}

.titulo_coqueteleira{
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: normal;
    gap: 1px;
}

.preco_coqueteleira{
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: normal;
}

.compra_coqueteleira{
    background-color: #6E6E6E;
    width: 180px;
    height: 50px;
    border-radius: 10px;
    font-size: 27px;
    font-weight: normal;
    font-family: 'Inter', sans-serif;
    position: relative;
    top: 290px;
    right: 280px;
    text-align: center;
}

.carrinho_coqueteleira{
    width: 43px;
    position: relative;
    top: 342px;
    right: 147px;
    z-index: 1;
    margin-left: 5px;
}

.card_garrafa{
    display: flex;
    align-items: center;
    background-color: #fff;
    width: 320px;
    height: 400px;
    border-radius: 10px;  
    margin: 0px;
}

.garrafa{
    width: 190px;
    height: 280px;
    margin: 3px;
}

.descricao_garrafa{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    font-family: 'Inter', sans-serif;
    text-align: center;
}

.titulo_garrafa{
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: normal;
    gap: 1px;
}

.preco_garrafa{
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: normal;
}

.compra_garrafa{
    background-color: #6E6E6E;
    width: 180px;
    height: 50px;
    border-radius: 10px;
    font-size: 27px;
    font-weight: normal;
    font-family: 'Inter', sans-serif;
    position: relative;
    top: 130px;
    right: 280px;
    text-align: center;
}

.carrinho_garrafa{
    width: 43px;
    position: relative;
    top: 182px;
    right: 147px;
    z-index: 1;
    margin-left: 5px;
}

.card_mochila{
    display: flex;
    align-items: center;
    background-color: #fff;
    width: 320px;
    height: 400px;
    border-radius: 10px;  
    margin: 0px;
}

.mochila{
    width: 230px;
    height: 280px;
    margin: -5px;
}

.descricao_mochila{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    font-family: 'Inter', sans-serif;
    text-align: center;
}

.titulo_mochila{
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: normal;
    gap: 1px;
}

.preco_mochila{
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: normal;
}

.compra_mochila{
    background-color: #6E6E6E;
    width: 180px;
    height: 50px;
    border-radius: 10px;
    font-size: 27px;
    font-weight: normal;
    font-family: 'Inter', sans-serif;
    position: relative;
    top: 130px;
    right: 300px;
    text-align: center;
}

.carrinho_mochila{
    width: 43px;
    position: relative;
    top: 180px;
    right: 170px;
    z-index: 1;
    margin-left: 5px;
}

.card_bone{
    display: flex;
    align-items: center;
    background-color: #fff;
    width: 320px;
    height: 400px;
    border-radius: 10px;  
    margin: 37px;
}

.bone{
    width: 190px;
    height: 220px;
    margin: 3px;
}

.descricao_bone{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    font-family: 'Inter', sans-serif;
    text-align: center;
}

.titulo_bone{
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: normal;
    gap: 1px;
}

.preco_bone{
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: normal;
}

.compra_bone{
    background-color: #6E6E6E;
    width: 180px;
    height: 50px;
    border-radius: 10px;
    font-size: 27px;
    font-weight: normal;
    font-family: 'Inter', sans-serif;
    position: relative;
    top: 130px;
    right: 300px;
    text-align: center;
}

.carrinho_bone{
    width: 43px;
    position: relative;
    top: 180px;
    right: 170px;
    z-index: 1;
    margin-left: 5px;
}

.card_elastico{
    display: flex;
    align-items: center;
    background-color: #fff;
    width: 330px;
    height: 380px;
    border-radius: 10px;
    margin: -22px;
}

.elastico{
    width: 190px;
    height: 185px;
    margin: 3px;
}

.descricao_elastico{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    font-family: 'Inter', sans-serif;
    text-align: center;
}

.titulo_elastico{
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: normal;
    gap: 1px;
}

.preco_elastico{
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: normal;
}

.compra_elastico{
    background-color: #6E6E6E;
    width: 180px;
    height: 50px;
    border-radius: 10px;
    font-size: 27px;
    font-weight: normal;
    font-family: 'Inter', sans-serif;
    position: relative;
    top: 130px;
    right: 300px;
    text-align: center;
}

.carrinho_elastico{
    width: 43px;
    position: relative;
    top: 180px;
    right: 170px;
    z-index: 1;
    margin-left: 5px;
}

.card_strap{
    display: flex;
    align-items: center;
    background-color: #fff;
    width: 330px;
    height: 380px;
    border-radius: 10px;
    margin: -22px;
}

.strap{
    width: 220px;
    height: 185px;
    margin: 3px;
}

.descricao_strap{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    font-family: 'Inter', sans-serif;
    text-align: center;
}

.titulo_strap{
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: normal;
    gap: 1px;
}

.preco_strap{
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: normal;
}

.compra_strap{
    background-color: #6E6E6E;
    width: 180px;
    height: 50px;
    border-radius: 10px;
    font-size: 27px;
    font-weight: normal;
    font-family: 'Inter', sans-serif;
    position: relative;
    top: 130px;
    right: 270px;
    text-align: center;
}

.carrinho_strap{
    width: 43px;
    position: relative;
    top: 180px;
    right: 140px;
    z-index: 1;
    margin-left: 5px;
}
