body {
  background: linear-gradient(to left, #B1D3FA, #3D3D3D)
    
}
header {
  background-color: #C6E4F6;
  color: #000000;
  padding: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

nav a {
  color: #000000;
  margin-left: 15px;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}